@charset "UTF-8";

.img {
    width: 100px;
}

.a {
    text-decoration: none;
}

.l-header {
    position: absolute;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
}
  
.l-header__pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.l-header__logo>img {
    width: 50px;
    height: 50px;
}
  
.l-header__pc {
    display: flex;
}
  
.l-header__sp {
    display: none;
}

.l-header__pc--navList {
    display: flex;
}

.nav_link {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav_link:hover {
    color: #a3a3a3;
}

.p-hero__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 60px;
}

.p-hero > img {
    height: 100vh;
    object-fit: cover;
    object-position: left top;
}

.p-about {
    width: 100%;
    padding: 100px 50px 70px;
}

.c-main__title {
    color: #5A5A5A;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
}

.p-main__sentence {
    position: relative;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 40px;
    color: #7e7e7e;
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
}

.p-main__sentence::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #fcc72c;
    transform: translateX(-50%);
}

.p-about__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.p-about__list > img {
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
    object-fit: cover;
}
  
.p-about__list > img:not(:nth-child(4n+2)),
.p-about__list > img:not(:nth-child(4n+3)) {
    width: 60%;
}
  
.p-about__list > img:nth-child(4n+2),
.p-about__list > img:nth-child(4n+3) {
    width: 35%;
}

.p-work {
    padding: 100px 54px 60px;
    background-color: #efefef;
}
  
