@charset "UTF-8";

.wrapper {
    background-color: #eee;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    box-shadow: 0 2px;
    background-color: #e91e63;
}