@charset "UTF-8";

.l-wrapper {
    padding: 70px 0 40px;
    background-color: #ebe6d3;
}

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.l-header__logo {
    width: 50px;
}

.l-header__logo img {
    width: 100%;
    height: auto;
}

.l-header__navList {
    display: flex;
}

.l-header__navList > li:not(:first-child) {
    margin-left: 30px;
}

.l-header__navList--link {
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.l-header__navList--link:hover {
    opacity: 0.5;
}

.p-hero {
    height: 500px;
    background-image: url(../images/hero.jpg);
}

.l-main {
    width: 960px;
    margin: 80px auto 0;
}

.l-main__title {
    text-align: center;
    font-size: 24px;
    color: #666;
}

.p-contents {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.p-production {
    width: 670px;
}

.c-mainLeft__title {
    padding-left: 12px;
    border-left: 5px solid #d95483;
    font-size: 18px;
    color: #666;
}

.p-production__picture {
    margin-top: 20px;
}

.p-production__picture img {
    width: 100%; 
    height: auto; 
  }
  

.l-pitureList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.l-pitureList > li {
    width: 210px;
}

.l-pitureList > li:nth-child(n+4) {
    margin-top: 10px;
}

.l-mainRight {
    width: 260px;
}

.c-mainRight_title {
    padding-left: 12px;
    border-left: 5px solid #d95483;
    font-size: 18px;
    color: #666;
}

.l-sentenceArea {
    width: 260px;
}

.p-introductionSentence {
    line-height: 1.5;
    font-size: 15px;
    color: #666;
}

.l-footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.l-footerBox {
    width: 200px;
    padding: 8px;
    background-color: #69c;
}

.l-footerBox_inner {
    border: 1px solid #fff;
    padding: 16px;
}

.l-footerText {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.l-footerText:not(:first-child) {
    margin-top: 8px;
}